body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/home.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.prindiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    height: 100%;
    width: 100%;
}

.contenedorCards {
    width: 95%;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border: 50px;
    border-color: black;
    flex-basis: 0;
    flex-grow: 999;
    min-width: 20rem;
    width: 20rem;
}

.card:hover {
    background-color: transparent;
    color: #000;
    scale: 110%;
}