.contenedorCards {
    width: 95%;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.prindiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border: 50px;
    border-color: black;
    flex-basis: 0;
    flex-grow: 999;
    min-width: 60%;
    width: 90%;
}

.card:hover {
    background-color: wheat;
    color: #000;
    scale: 105%;
}