.prindiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg.png");
    overflow: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contenedorform {
    background-color: rgb(235, 192, 19);
    height: 45rem;
    width: 75%;
    border: solid 3px;
    border-color: black;
    border-radius: 5rem;
}

.titulof {
    margin-top: 3rem;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
}

.formulario {
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
}

.campos {
    height: 3rem;
    width: 50rem;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5rem;
}

.botsub {
    width: 15rem;
    height: 5rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(84, 235, 19);
    transition: .3s;
}

.botsub:hover {
    transition: .3s;
    transform: scale(1.1);
    background-color: rgb(0, 255, 0);
}

.errors {
    color: red;
    font-weight: bold;
    font-style: oblique;
}